div.dataTables_wrapper div.dataTables_filter label {
    margin-right: -150px;
}

div.dt-buttons {
    margin-top: 35px;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    float: right;
    margin-top: 50px;
}